*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);

  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 20%;
}
.container__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
}
.container__center {
  max-width: 50rem;
  margin: 1em;
}
.left__logo {
  position: absolute;
}

.right__award {
  position: absolute;
}

.tabs {
  display: flex;
}
.tabs li {
  /* Makes a horizontal row */

  /* So the psueudo elements can be
     abs. positioned inside */
  position: relative;
  list-style: none;
}

.active {
  /* Colors when tab is active */
  background: white !important;
  color: black !important;
  z-index: 3;
}

.tabs li button {
  /* Make them block level
     and only as wide as they need */
  display: flex;
  padding: 10px 40px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  /* Default colors */
  color: black;
  background: #ddc385;
  transition: 0.3s;
  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tabs li:before,
.tabs li:after,
.tabs li a:before,
.tabs li a:after {
  /* All pseudo elements are 
     abs. positioned and on bottom */
  position: absolute;
  bottom: 0;
}

.content {
  background: white;
  width: 100%;
  height: 300px;
  box-shadow: 10px 5px 5px grey;
}

@media only screen and (max-width: 600px) {
  .tabs li button {
    padding: 5px 15px;
  }
  .content-middle {
    width: 100%;
  }
}
